*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
  background-image: linear-gradient(to bottom right, rgb(67, 67, 214), rgb(197, 67, 214) );
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vh;
}
.titre{
  text-align: center;
}
.flex-container{
  display: flex;
  background-color: #f1f1f1;
  flex-direction: column;
  justify-content:center ;
  align-content: center;
  border-radius: 15px;  
  align-items: end;
}
.img{
  width: 75px;
  height: 60px;  
}
.b2{
  border: none;
  text-decoration: none;
  color: rgb(159, 159, 159);
  background-color: white;
}
a {
  border: none;
  font-size:large;
  text-decoration: none;
  color: rgb(159, 159, 159);
  background-color: white;
}

h4{
  display: inline-block;
}




.chedy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px; 
  font-family: none; 
}





.ligne{
  display: flex;
  flex-direction: row;
  gap: 300px;
}


